<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
string_length = "cacophony"
len(string_length)

9

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [18]:
# write your answer here
from collections import Counter
letter_counter = Counter("cacophony")
dict(letter_counter)

{'c': 2, 'a': 1, 'o': 2, 'p': 1, 'h': 1, 'n': 1, 'y': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [2]:
# write your answer here
my_list = [1, 7, 9]
sum(my_list)

17

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [16]:
# write your answer here
txt = "restart"

new = txt.replace("r", "\$")
new_new = new.replace("\$","r", 1)
print(new_new)

resta\$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [10]:
# write your answer here
def my_calc_program(a,b):
    s=3.14*(1+a/b)**3
    print(s)
my_calc_program(5,10)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
# write your answer here
dic1 = {1:10,2:20};
dic2 = {3:30,4:40};
dic3 = {5:50,6:60} 
dic4 = dict(dic1)
dic4.update(dic2)
dic4.update(dic3)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [19]:
# write your answer here
my_fun_tuple = (1,3,9,58) 
99 in my_fun_tuple

False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [8]:
# write your answer here
my_set = set([1, 2, 3])
print(min(my_set))
print(max(my_set))

1
3

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here